* {
    box-sizing: border-box;
}

body {
    background-color: #1F2122;
    color: white;
    margin-left: 50px;
    margin-right: 50px;
    font-family: sans-serif;
}

a {
    color: white;
    text-decoration: none;
    transition: .5s;
}

a:hover {
    color: #EC608F;
}

a.pink:hover {
    color: white;
}

.pink {
    color: #EC608F;
}

header {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
}

nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

nav div {
    display: flex;
    justify-content: center;
    align-items: center;
}

nav a, nav div{
    padding: 5px;
    color: #646464;
}

.profile {
    background-color: #27292A;
    border-radius: 25px;
    padding-left: 10px;
    padding-right: 10px;
    transition: .5s;
}

.profile:hover {
    cursor: pointer;
    background-color: #EC608F;
}

.profile:hover a{
    color: white;
}

.main-section {
    background-color: #27292A;
    padding: 50px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.bg-img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 400px;
    width: 95%;
    padding: 25px;
    margin-bottom: 40px;
    border-radius: 25px;
}

button {
    background-color: #EC608F;
    color: white;
    height: 40px;
    width: 135px;
    border: 0;
    border-radius: 25px;
    transition: .5s;
}

button:hover {
    cursor: pointer;
    background-color: white;
    color: #EC608F;
}

.btn {
    position: relative;
    display: flex;
    justify-content: center;
    top: 45px;
}

.cercle {
    height: 40px;
    width: 40px;
    margin-top: 10px;
    border: 2px dashed #EC608F;
    border-radius: 50%;
}

.container {
    display: flex;
    flex-direction: column;
    background-color: #1F2122;
    gap: 30px;
    width: 95%;
    padding: 25px;
    margin-bottom: 40px;
    border-radius: 25px;
}

.card-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 30px;
}

.cards {
    background-color: #27292A;
    width: 25%;
    padding: 15px;
    border-radius: 25px;
    transition: .5s;
}

.cards:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.tab-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid #27292A;
}

.grey {
    color: #646464;
}

.download {
    background-color: rgba(0, 0, 0, 0);
    border: 2px solid #84E09D;
    color: #84E09D;
}

.download:hover {
    background-color: #84E09D;
    color: green;
    border: 2px solid green;
}

.copyright {
    display: flex;
    justify-content: center;
}

h2 a:hover {
    color: #df356d;
}

.cercle:hover {
    animation: turn 2s linear infinite;
}

@keyframes turn{
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

@media only screen and (max-width:900px) {
    header {
        flex-direction: column;
    }
    nav {
        flex-wrap: wrap;
    }
    .card-container {
        flex-direction: column;
    }
    .cards {
        width: 100%;
    }
    .tab-container {
        flex-direction: column;
    }
    .img-cover {
        width: 100%;
    }
}