* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #1F2122;
    color: white;
    font-family: poppins;
}

.pink {
    color: #EC608F;
}

.grey {
    color: #656565;
}

header {
    margin-top: 8px;
    margin-bottom: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

li {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

li a {
    text-decoration: none;
    font-size: x-small;
}

nav {
    display: flex;
    width: 100%;
    padding: 8px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.hov:hover {
    color: #EC608F;
}

.profile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
    background: #27292A;
    padding: 5px;
    padding-left: 15px;
    border-radius: 25px;
}

.profile:hover {
    cursor: pointer;
    background: #EC608F;
}

.profile:hover a {
    color: white;
}

.main-section {
    display: flex;
    flex-direction: column;
    background: #27292A;
}

.bg-img {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px;
    padding-top: 50px;
    padding-bottom: 50px;
}

button {
    height: 25px;
    width: max-content;
    padding-left: 10px;
    padding-right: 10px;
    background: #EC608F;
    color: white;
    border: 0;
    border-radius: 25px;
}

button:hover {
    cursor: pointer;
    color: #EC608F;
    background: white;
}

.cercle {
    height: 35px;
    width: 35px;
    border: 2px dashed #EC608F;
    border-radius: 50%;
    animation: turn 2s linear infinite;
}

@keyframes turn {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

.container {
    background: #27292A;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 25px;
}

.title {
    color: white;
}

.card-container {
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
    width: 100%;
    background: #1F2122;
}

.cards {
    width: 100%;
    background: #1F2122;
}

.cards img{
    width: 100%;
}

.bigger {
    display: grid;
    grid-template-columns: auto;
    gap: 5px;
}

.tab-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 10px;
    width: 100%;
    background: #27292A;
    border-bottom: 1px solid #1F2122;
    padding-bottom: 25px;
}

.img-cover {
    width: 75%;
}

.tab {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.download {
    background: none;
    border: 1px solid;
    animation: rainbow 12s linear infinite;
}

.download:hover {
    cursor: pointer;
    background: #1F2122;
}

@keyframes rainbow {
    0%, 100% {color: purple; border-color: purple;}
    16.66% {color: blue; border-color: blue;}
    33.32% {color: green; border-color: green;}
    49.98% {color: yellow; border-color: yellow;}
    66.64% {color: orange; border-color: orange;}
    83.3% {color: red; border-color: red;}
}

@media (min-width: 425px) {
    body {
        margin: 10px;
    }
    li a {
        font-size: small;
    }
    .navbar {
        justify-content: space-evenly;
    }
    .main-section {
        background: #27292A;
        border-radius: 20px;
    }
    .bg-img {
        border-radius: 20px;
        margin: 15px;
    }
    .container {
        background: #1F2122;
        border-radius: 20px;
        margin: 15px;
    }
    .card-container {
        grid-template-columns: auto auto;
        gap: 10px;
        padding: 10px;
    }
    .cards {
        background: #27292A;
        padding: 10px;
        border-radius: 20px;
    }
    .cards img{
        border-radius: 20px;
    }
    .bigger {
        background: #27292A;
        grid-template-columns: auto auto;
        grid-column-start: 1;
        grid-column-end: 3;
        border-radius: 20px;
    }
    .tab-container {
        background: #1F2122;
        padding: 10px;
        border-bottom-color: #27292A;
        grid-template-columns: auto auto auto;
    }
    .img-cover {
        border-radius: 20px;
    }
    .btn {
        position: relative;
        top: 37px;
    }
    footer {
        display: flex;
        justify-content: center;
    }
}

@media (min-width: 768px) {
    body {
        margin: 25px;
    }
    header {
        flex-direction: row;
        padding-bottom: 20px;
    }
    nav {
        padding: 0;
    }
    li a {
        font-size: medium;
    }
    .navbar {
        justify-content: flex-end;
        gap: 25px;
    }
    .main-section {
        gap: 20px;
        padding: 20px;
    }
    .bg-img {
        padding: 20px;
    }
    .container {
        padding: 20px;
        align-items: flex-start;
    }
    .card-container {
        grid-template-columns: auto auto auto auto;
        padding: 0;
    }
    button {
        height: 45px;
        padding-left: 25px;
        padding-right: 25px;
    }
    .btn {
        display: flex;
        justify-content: center;
        width: 100%;
        top: 42px;
    }
    .tab-container {
        grid-template-columns: auto auto auto auto auto auto;
        padding: 0;
        padding-bottom: 20px;
    }
}

@media (min-width: 1024px) {
    header {
        padding-bottom: 25px;
    }
    .main-section {
        gap: 25px;
        padding: 25px;
    }
    .bg-img {
        padding: 25px;
        padding-top: 50px;
        padding-bottom: 50px;
        gap: 25px;
    }
    .container {
        padding: 25px;
    }
    .btn {
        top: 47px;
    }
    .tab-container {
        padding-bottom: 25px;
    }
}